<!-- Header -->
<header id="bem-vindo" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container" style="margin-top: -24px;">
                        <h1><span class="turquoise">Ganhe visibilidade,</span><br />crie seu site!</h1>
                        <p class="p-large" style="font-family: 'Roboto', sans-serif;">
                            Um site ou loja virtual abre portas, atrai novos clientes e te torna visível. Cuidamos de cada passo para garatir o seu sucesso, conte com uma equipe preparada para lhe auxiliar neste passo tão importante do seu negócio.
                        </p>
                        <a class="btn-solid-lg page-scroll" href="#porque-ter-um-site">SAIBA MAIS</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="images/header-teamwork.svg" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
