<!-- Services -->
<div id="porque-ter-um-site" class="cards-1">
    <div class="container" style="margin-top: 48px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Porque criar um site?</h2>
                <p class="p-heading p-large">Ter um site possibilita a exposição da sua empresa em qualquer lugar, sem precisar se limitar a aquele espaço físico, que permitirá o relacionamento com diversos públicos, sem a necessidade de estarem presentes no local específico.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/services-icon-1.svg" alt="alternative">
                    <!-- <span class="fa fa-globe card-image turquoise" style="font-size: 72pt;"></span><br /> -->
                    <div class="card-body">
                        <h4 class="card-title">Ganhe visibilidade</h4>
                        <p style="font-family: 'Roboto', sans-serif;">Com um site você pode ser encontrado na internet, e sem dúvidas, isso irá alavancar seu negócio/empresa.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/services-icon-2.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Alcance resultados</h4>
                        <p style="font-family: 'Roboto', sans-serif;">Maior visibilidade significa novos clientes em potencial de seus produtos ou serviços. Alcançe novos patamares.</p>
                    </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <img class="card-image" src="images/services-icon-3.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Gere confiança</h4>
                        <p style="font-family: 'Roboto', sans-serif;">Criar um site possibilita que seu negócio tenha maior credibilidade perante o seu público-alvo.</p>
                    </div>
                </div>
                <!-- end of card -->
            </div> <!-- end of col -->
            <div class="col-md-4 offset-md-4">
                <a class="btn-solid-lg page-scroll" href="#criacao-site">CONHEÇA NOSSOS PLANOS</a>
            </div>
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->
