<!-- Pricing -->
<div id="criacao-site" class="cards-2">
    <div class="container" style="margin-top: 48px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Sites Profissionais</h2>
                <p class="p-heading p-large">Escolha o plano/condição ideal para seu negócio. Todos os planos contam com suporte e alterações posteriores nos sites, caso solicitado pelo cliente.</p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">

                <!-- Card-->
                <div class="card">
                    <!-- <div class="label">
                        <p class="best-value">Mais Adquirido</p>
                    </div> -->
                    <div class="card-body">
                        <div class="card-title">SITE PRO I</div>
                        <div class="card-subtitle">Para quem quer alavancar</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="frequency" style="font-family: 'Roboto', sans-serif; font-size: 10px; display: block;">A partir de</span>
                            <span class="currency" style="vertical-align: 33%; font-size: 14pt;">R$</span>
                            <span class="value" style="font-family: 'Roboto', sans-serif; font-size: 26pt; margin-left: -8px; margin-top: -8px;">1.089,00</span>
                            <div class="frequency" style="font-family: 'Roboto', sans-serif;"><i class="fa fa-plus"></i> R$ 49,00 / MÊS</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Identidade visual</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">01 domínio</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">750mb de espaço de disco</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Até 04 páginas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Até 50 imagens</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Links para redes sociais</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Botão Whatsapp</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">15 tickets de suporte/mês</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">02 Subdomínios</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">02 Emails</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Formulário de Contato</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Painel de Controle</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Certificado SSL</div>
                            </li>
                        </ul>
                        <!-- <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">CONTRATAR</a>
                        </div> -->
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->


                <!-- Card-->
                <div class="card">
                    <div class="label">
                        <p class="best-value">PROMOÇÃO</p>
                    </div>
                    <div class="card-body">
                        <div class="card-title">SITE BÁSICO</div>
                        <div class="card-subtitle">Ideal para quem está começando</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="frequency" style="font-family: 'Roboto', sans-serif; font-size: 10px; display: block;">A partir de</span>
                            <span class="currency" style="vertical-align: 33%; font-size: 14pt;">R$</span>
                            <span class="value" style="font-family: 'Roboto', sans-serif; font-size: 26pt; margin-left: -8px; margin-top: -8px;">499,00</span>
                            <div class="frequency" style="font-family: 'Roboto', sans-serif;"><i class="fa fa-plus"></i> R$ 19,00 / MÊS</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Identidade visual</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">01 domínio</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">250mb de espaço de disco</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Site One-Page</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Até 15 imagens</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Links para redes sociais</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Botão Whatsapp</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">05 tickets de suporte/mês</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Subdomínios</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Emails</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Formulário de Contato</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Painel de Controle</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-times"></i><div class="media-body">Certificado SSL</div>
                            </li>
                        </ul>
                        <!-- <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">CONTRATAR</a>
                        </div> -->
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

                <!-- Card-->
                <div class="card">
                    <!-- <div class="label">
                        <p class="best-value">Mais Adquirido</p>
                    </div> -->
                    <div class="card-body">
                        <div class="card-title">SITE PRO II</div>
                        <div class="card-subtitle">Lojas virtuais e similares</div>
                        <hr class="cell-divide-hr">
                        <div class="price">
                            <span class="frequency" style="font-family: 'Roboto', sans-serif; font-size: 10px; display: block;">A partir de</span>
                            <span class="currency" style="vertical-align: 33%; font-size: 14pt;">R$</span>
                            <span class="value" style="font-family: 'Roboto', sans-serif; font-size: 26pt; margin-left: -8px; margin-top: -8px;">1.780,00</span>
                            <div class="frequency" style="font-family: 'Roboto', sans-serif;"><i class="fa fa-plus"></i> R$ 84,00 / MÊS</div>
                        </div>
                        <hr class="cell-divide-hr">
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Identidade visual</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">02 domínios</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">2000mb de espaço de disco</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Até 08 páginas</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Até 150 imagens</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Links para redes sociais</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Botão Whatsapp</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Suporte Ilimitado</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Ilimitados Subdomínios</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">10 Emails</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Formulário de Contato</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Painel de Controle</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-check"></i><div class="media-body">Certificado SSL</div>
                            </li>
                        </ul>
                        <!-- <div class="button-wrapper">
                            <a class="btn-solid-reg page-scroll" href="#request">CONTRATAR</a>
                        </div> -->
                    </div>
                </div> <!-- end of card -->
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of pricing -->
