<!-- Request -->
<div id="contato" class="form-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Entre em contato</h2>
                    <p>Não deixe de fornecer seu melhor email e telefone para que possamos lhe retornar, combinado? Desde já, agradecemos o contato.</p>
                    <p>&nbsp;</p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 16pt;">Email: contato@site13.com.br</p>
                    <p style="font-family: 'Roboto', sans-serif; font-size: 16pt;">Whatsapp: 31 9 9611 2872</p>
                    <!-- <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Automate your marketing</strong> activities and get results today</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Interact with all your</strong> targeted customers at a personal level</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Convince them to buy</strong> your company's awesome products</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-check"></i>
                            <div class="media-body"><strong class="blue">Save precious time</strong> and invest it where you need it the most</div>
                        </li>
                    </ul> -->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">

                <!-- Request Form -->
                <div class="form-container">
                    <form id="requestForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="rname" name="rname" required>
                            <label class="label-control" for="rname">Nome completo</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="remail" name="remail" required>
                            <label class="label-control" for="remail">Seu email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="rphone" name="rphone" required>
                            <label class="label-control" for="rphone">Telefone</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control-select" id="rselect" required>
                                <option class="select-option" value="" disabled selected>Motivo do contato</option>
                                <option class="select-option" value="0">Contratar o SITE BÁSICO</option>
                                <option class="select-option" value="1">Contratar o SITE PRO I</option>
                                <option class="select-option" value="2">Contratar o SITE PRO II</option>
                                <option class="select-option" value="3">Gostaria de registrar um domínio</option>
                                <option class="select-option" value="4">Gostaria de hospedar um site</option>
                                <option class="select-option" value="5">Suporte / dúvida</option>
                                <option class="select-option" value="6">Outro</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="rterms" value="Agreed-to-Terms" name="rterms" required>Eu certifico que este contato é restritamente profissional.</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">ENVIAR</button>
                        </div>
                        <div class="form-message">
                            <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                </div> <!-- end of form-container -->
                <!-- end of request form -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-1 -->
<!-- end of request -->
